* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}

/*Style for logo and header*/
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: grey;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navlinks {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navlinks li {
    margin-left: 10px;
}

.text-primary {
    color: darkmagenta;
    text-align: center;
}

.lead {
    font-size: 20px;
    text-align: center;
    color: lightblue;
    padding-top: 170px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #f4f4f4;
    background: grey;
    padding: 13px 20px;
    border: none;
    margin-top: 20px;
}

/*Style for button*/
button {
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

header ul li a {
    color: lightskyblue;
    margin: 0 10px;
    transition: 0.5s;
}

header ul li a:hover {
    color: lightskyblue;
}

.container {
    max-width: 85%;
    margin: auto;
}

header {
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
}

header ul {
    display: inline-block;
}

header ul li {
    display: inline-block;
    text-transform: unset;
}

header ul li a {
    color: darkmagenta;
    margin: 2px;
    transition: 0.5s;
}

header ul li a:hover {
    color: lightskyblue;
}

header button {
    padding: 13px 40px;
}

/*Table formatting*/
table {
    width: 800px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
}

table, th, td {
    color: darkslateblue;
    border: 3px dotted black;
    border-collapse: collapse;
    padding: 20px;
    font-size: 20px;
}

tr:hover {
    background-color: lightskyblue;
}

/*Padding on forms*/
.form-container {
    padding: 20px;
    background-color: #e6f7ff;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.form-container input[type="text"],
.form-container input[type="email"] {
    width: 100%;
    padding: 14px 20px;
    font-size: medium;
    font-family: 'Times New Roman';
    border-radius: 8px;
    border: 1px solid;
    margin: 8px 0px;
    box-sizing: border-box;
    background: #f4f4f4;
}

/*Showcase*/
#showcase {
    background: url(images/b1.jpeg) no-repeat center center/cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase-content {
    color: lightblue;
    max-width: 600px;
}

.showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.showcase-content p {
    padding: 20px;
    line-height: 1.7em;
}


