*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: Tahoma;

}

/*Style for logo and header*/
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: grey;
}

.logo img {
    max-width: 100%;
    height: auto;
}
.navlinks {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.navlinks li {
    margin-right: 10px;
}

.navlinks li:first-child{
    margin-right: auto;
}

a{
    text-decoration:none ;
}
li{
    list-style: none;
}

button{
    border:none;
    background: none;
    outline:none;
    transition:0.5s;
    cursor: pointer;
}
header ul li a{
    color:lightskyblue;
    margin:0 10px;
    transition:0.5s;
}
header ul li a:hover{
    color: lightskyblue;
}

.container{
    max-width: 85%;
    margin: auto;
}

header{
    height:10vh;
    line-height:10vh;
    padding:0 20px;
}

header ul{
    display:inline-block;
}
header ul li{
    display:inline-block;
    text-transform: uppercase;
}
header ul li a{
    color:darkmagenta;
    margin: 2px;
    transition:0.5s;
}
header ul li a:hover{
    color: lightskyblue;
}
header button{
    padding:13px 40px;
}
