*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: lightblue;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Style for logo and header*/
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: grey;
}

.logo img {
    max-width: 100%;
    height: auto;
}
.navlinks {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.navlinks li {
    margin-left: 10px;
}


/*style for button*/
button{
    border:none;
    background: none;
    outline:none;
    transition:0.5s;
    cursor: pointer;
}

/*style for  header*/
header ul li a{
    color:lightskyblue;
    margin:0 10px;
    transition:0.5s;
}
header ul li a:hover{
    color: lightskyblue;
}

.container{
    max-width: 85%;
    margin: auto;
}

header{
    height:10vh;
    line-height:10vh;
    padding:0 20px;
}

header ul{
    display:inline-block;
}
header ul li{
    display:inline-block;
    text-transform: unset;
}
header ul li a{
    color:darkmagenta;
    margin: 2px;
    transition:0.5s;
}
header ul li a:hover{
    color: lightskyblue;
}
header button{
    padding:13px 40px;
}

/*table formatting*/
table{
    width:800px;
    margin:auto;
    table-layout: fixed;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
        }
        table, th,td{
            color: darkslateblue;
            border: 3px dotted black;
            border-collapse:collapse;
            padding: 20px;
            font-size:20px;
    
        }
        tr:hover{
background-color: lightskyblue;
        }
     
        /*Addition of image slider*/
#slider{
    overflow:hidden;
}
#slider figure{
    position: relative;
    width:600%;
    margin:0;
    left:0;
    animation: 20s slider infinite;
}
#slider figure img{
    float:left; 
   width:16%;
}
@keyframes slider{
    0%{
        left:0%
 }
 20%{
    left:0%;
}
25%{
    left:-100%
}
45%{
    left:-100%
}
50%{
    left:-200%;
}
70%{
    left:-200%
}
75%{
    left:-300%
}
95%{
    left:-300%
}
100%{
    left:-400%
    }
}
